.header{
    display: flex;
    justify-content: end;
    &__wrapper{
    position: fixed;
    top: 0;
    background-color: #1e1e1e;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    border-radius: 20px;
    }

    &__nav {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    &__link {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #333;
        color: #ddd;
      }
    }
}
