@media (max-width: 1024px) {
    .container {
        max-width: 1000px;
    }
    .header {
        justify-content: center;
    }
    .about-me__container {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 740px;
    }
}

@media (max-width: 480px) {
    .container{
        max-width: 300px;
    }
    .about-me__container {
        flex-direction: column;
        margin-top: 10px;
        gap: 0;
    }
    .about-me__description{
        margin-bottom: 0;
    }
    .project{
        h3{
            text-align: center;
        }
        &__header{
            margin-bottom: 10px;
        }
        &-list {
            padding: 0;
            grid-template-columns: repeat(auto-fit, minmax(260px, auto));
            grid-auto-rows: minmax(560px, auto);
        }
    }
}